services:
  web:
    build: apache
    ports:
      - 80:80
    volumes:
      - ./apache/tarefa3.conf:/etc/apache2/sites-enabled/tarefa3.conf
      - ./omeusitio.lan:/opt/web/omeusitio.lan
      - ./apache/digest_passwords:/opt/web/omeusitio.lan/.htdigestpasswords
      - ./apache/basic_groups:/opt/web/omeusitio.lan/.htbasicgroups

    networks:
      redeapache:
        ipv4_address: 192.168.58.130
        aliases:
          - omeusitio.lan
          - www.omeusitio.lan
    develop:
      watch:
        - path: ./apache/tarefa3.conf
          action: restart

  cliente:
    image: a24aquilespv/cliente_firefox
    hostname: cliente
    networks:
      redeapache:
        ipv4_address: 192.168.58.131
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix

  # cliente2:
  #   image: a24aquilespv/cliente_firefox
  #   hostname: cliente2
  #   networks:
  #     redeapache:
  #       ipv4_address: 192.168.58.132
  #   environment:
  #     - DISPLAY=${DISPLAY}
  #   volumes:
  #     - /tmp/.X11-unix:/tmp/.X11-unix

networks:
# subredbloqueada:
  redeapache:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.58.0/24
