services:
  web:
    build: apache
    ports:
      - 80:80
    volumes:
      - ./apache/tarefa3.conf:/etc/apache2/sites-enabled/tarefa3.conf
      - ./omeusitio.lan:/opt/web/omeusitio.lan

    networks:
      redeapache:
        aliases:
          - omeusitio.lan
          - www.omeusitio.lan
    develop:
      watch:
        - path: ./apache/tarefa3.conf
          action: restart

  cliente:
    image: a24aquilespv/cliente_firefox
    hostname: cliente
    networks:
      - redeapache
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix

networks:
  redeapache:
